// Typography
// ------------------------------
$font-family: Roboto, Ubuntu, 'Segoe UI', 'Helvetica Neue', 'Noto Sans', Arial, sans-serif;
$font-size:   10px;

//-- Must be defined after $font-size and before variables that depend on the function.
@function rem($multiplier) {
  $f-size: 10px;
  @return $multiplier * $f-size;
}

$display-4-font-size-base: rem(11.20);
$display-3-font-size-base: rem(5.600);
$display-2-font-size-base: rem(4.500);
$display-1-font-size-base: rem(3.400);
$headline-font-size-base:  rem(2.400);
$title-font-size-base:     rem(2.000);
$subhead-font-size-base:   rem(1.600);

$body-font-size-base:      rem(1.400);
$caption-font-size-base:   rem(1.200);

// Layout
// ------------------------------

$baseline-grid:            8px;
$layout-gutter-width:      ($baseline-grid * 2);

$layout-breakpoint-xs:     640px;
$layout-breakpoint-sm:     768px;
$layout-breakpoint-md:     1024px;
$layout-breakpoint-lg:     1280px;
